.container{
  float: left;
}

.movies {
 
  padding: 8px 18px;
}
.movies .movie {
  padding: 10px;
  cursor: pointer;
}
.movies .movie .poster {
  width: 100%;
  margin-bottom: 6px;
  border-radius: 4px;
}
.movies .movie .poster.active {
  opacity: 0;
}
.movies .movie .title {
  color: #525661;
  margin-bottom: 4px;
  font-size: 16px;
}
.movies .movie .info {
  font-size: 11px;
  opacity: .8;
}
.movies .movie .desc {
  display: none;
}



/* Movie Card CSS */


.card {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 23%;
    border-radius: 5px;
    margin: 7px;
    display: inline-block;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    max-height: 100%;
    width:100%;
    height:250px;
}

.container {
    padding: 2px 16px;
}

.button{
  padding: 10px 20px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
  cursor: pointer;
}

.red{

  background-color: #c23232;
  border-bottom: 5px solid #c23232;
}


/* One column grid of 300px blocks when screen smaller than 600px */
@media screen and (max-width: 599px) {
    .card {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
    margin: 7px;
    display:inline-block;
}

  body{
    font-size: 10px !important;

  }
}